---
home_active: active
title: Welcome
meta_description: Promoting cybersecurity in healthcare, hospitals, and medical schools. How secure is your hospital?
---

<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" id="mc_embed_signup">
                <h1>Should you trust<br>your hospital?</h1>
                <h2>Coming soon: A new way of<br>evaluating healthcare security.</h2><br><br>
                <form class="form-inline validate" role="form" action="https://clindesk.us5.list-manage.com/subscribe/post?u=b6cec37bff09d081f3eee6c75&amp;id=772e9a51fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                    <div class="form-group mc-field-group">

                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_b6cec37bff09d081f3eee6c75_772e9a51fa" tabindex="-1" value=""></div>
                        <input type="email" name="EMAIL" class="form-control required email" id="exampleInputEmail1" placeholder="Enter your email address" size="25">
                    </div>
                    <button type="submit" class="btn btn-warning btn-lg">Invite Me!</button>
                </form>
                <br><br>
            </div><!-- /col-lg-6 -->
            <div class="col-lg-6">
                <img class="img-responsive" src="/{{assets}}ipad-hand.png" alt="" data-effect="slide-right">
            </div><!-- /col-lg-6 -->

        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /headerwrap -->
