<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}} &mdash; The Trustworthy Healthcare Initiative</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{meta_description}}" />
    <meta name="author" content="Nick Semenkovich (@semenko), ClinDesk &amp; White Coat Academy" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <!-- build:css /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="/styles/thi-styles.css">
    <link rel="stylesheet" href="/styles/slickQuiz.css">
    <!-- endbuild -->

    <!-- ref:css //cdn.jsdelivr.net/fontawesome/4.2.0/css/font-awesome.min.css -->
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- endref -->

    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,900" rel="stylesheet">

    {{>google_analytics }}

    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><b>The Trustworthy Healthcare Initiative</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/protect-yourself/">Sneak Peek Preview &nbsp; <span class="fa fa-share"></span></a></li>
            </ul>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<br><br><br>

{{> body }}


<div class="container">
    <div class="row"><hr></div>
    <p>
        <small>The Trustworthy Healthcare Initiative &mdash; &copy; 2014-2015</small><br>
        <small>This work is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons License</a>.</small>
    </p>

</div><!-- /container -->

<!-- build:js /scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js /scripts/plugins.js -->
<!-- bower:js -->
<script src="/scripts/jquery.unveilEffects.js"></script>

<script src="../bower_components/bootstrap/js/affix.js"></script>
<script src="../bower_components/bootstrap/js/alert.js"></script>
<script src="../bower_components/bootstrap/js/dropdown.js"></script>
<script src="../bower_components/bootstrap/js/tooltip.js"></script>
<script src="../bower_components/bootstrap/js/modal.js"></script>
<script src="../bower_components/bootstrap/js/transition.js"></script>
<script src="../bower_components/bootstrap/js/button.js"></script>
<script src="../bower_components/bootstrap/js/popover.js"></script>
<script src="../bower_components/bootstrap/js/carousel.js"></script>
<script src="../bower_components/bootstrap/js/scrollspy.js"></script>
<script src="../bower_components/bootstrap/js/collapse.js"></script>
<script src="../bower_components/bootstrap/js/tab.js"></script>

<script src="/scripts/slickQuiz-config.js"></script>
<script src="/scripts/slickQuiz.js"></script>

<script src="../bower_components/holderjs/holder.js"></script>
<!-- endbower -->
<!-- endbuild -->
<script>
    $(function () {
        $('#slickQuiz').slickQuiz();
    });
</script>

</body>
</html>
