---
home_active: active
title: Protecting Yourself
meta_description: Protect your medical records online. Here are tips to secure your online accounts.
---
<!-- TODO: Fix tablet/mobile reflow with huge images. -->
<div class="container">

    <div class="jumbotron text-center" style="background-image: url('/images/protect-yourself/deathtostock-creativecommunity-7.jpg'); background-size:100% auto; background-position: center; background-repeat: no-repeat;">
        <h1>Protect Yourself</h1>
        <p>
            Whether your healthcare providers scored in the top or bottom of our rankings,
            <br>you can take steps to protect yourself online.
        </p>
        <br>
        <!-- TODO: Fix this embed. It'll break a sane CSP. -->
        <p><a class="btn btn-primary btn-lg" href="#" role="button" onclick="$('html, body').animate({ scrollTop: $('#browser').offset().top - 80 }, 500);">Learn More Below &nbsp; <span class="fa fa-arrow-circle-down fa-lg"></span></a></p>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-5" id="browser">
            <h3>Use a Safer Web Browser</h3>
            <p>Browsers like Internet Explorer aren't very secure, and can put your private data at risk. (Don't know what browser you're using? You can <a href="http://whatbrowser.org/" target="_blank">click here</a> to find out.)</p>
            <p>Google's Chrome browser is extremely secure and using it can be an important step in protecting yourself online. Chrome includes security features like <a href="https://www.youtube.com/watch?v=29e0CtgXZSI" target="_blank">sandboxing</a> that help keep your secrets safe.</p>
            <p><a href="https://www.google.com/chrome/" target="_blank"><button class="btn btn-lg btn-info">Download Chrome Now &nbsp; <span class="fa fa-external-link"></span></button></a></p>
        </div>

        <div class="col-md-5 col-md-offset-1">
            <img src="/images/protect-yourself/chrome.png" class="img-responsive pull-right" alt="Google Chrome" width="320" data-effect="slide-right">
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <span class="fa fa-envelope huge-fontawesome-icon" data-effect="slide-left"></span>
        </div>
        <div class="col-md-5">
            <h3>Learn About Phishing</h3>
            <p>Some attackers might try to steal your password by sending you emails designed to look like they're from your bank, employer, or a popular website.</p>
            <p>You should be very suspicious about emails asking for your password and make sure to enter your passwords <em>only</em> on sites starting with <mark>https://</mark></p>
            <p><a href="phishing-and-email-security.html"><button class="btn btn-info btn-lg">Learn More About Phishing &nbsp; <span class="fa fa-arrow-right fa-lg"></span></button></a></p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-5">
            <h3>Turn on Two-Factor</h3>
            <p>If you've learned about phishing above, you know the <em>only</em>&nbsp; fool-proof protection from phishing is <a href="https://www.google.com/landing/2step/" target="_blank">two-factor security</a>. That's why many institutions like banks require two-factor for every employee.</p>
            <p>Luckily, <a href="https://twofactorauth.org/" target="_blank">many online services</a> let you enable two-factor for your personal accounts. Start by enabling two-factor security at one of these popular sites.</p>
        </div>
        <div class="col-md-offset-1 col-md-5" data-effect="slide-right">
            <br>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a class="btn btn-lg btn-default" href="https://www.google.com/landing/2step/" target="_blank"><i class="fa fa-google fa-lg"></i>Google &nbsp;</a>
                </div>
                <div class="col-md-4 text-center">
                    <a class="btn btn-lg btn-default" href="http://support.apple.com/en-us/HT5570" target="_blank"><i class="fa fa-apple fa-lg"></i>Apple &nbsp;</a>
                </div>
                <div class="col-md-4 text-center">
                    <a class="btn btn-lg btn-default" href="https://www.dropbox.com/en/help/363" target="_blank"><i class="fa fa-dropbox fa-lg"></i>Dropbox &nbsp;</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a class="btn btn-lg btn-default" href="https://blog.twitter.com/2013/getting-started-with-login-verification" target="_blank"><i class="fa fa-twitter fa-lg"></i>Twitter &nbsp;</a>
                </div>
                <div class="col-md-4 text-center">
                    <a class="btn btn-lg btn-default" href="https://www.paypal.com/us/webapps/mpp/security/security-protections" target="_blank"><i class="fa fa-paypal fa-lg"></i>Paypal &nbsp;</a>
                </div>

                <div class="col-md-4 text-center">
                    <a class="btn btn-lg btn-default" href="http://windows.microsoft.com/en-us/windows/two-step-verification-faq" target="_blank"><i class="fa fa-envelope-o fa-lg"></i>Outlook &nbsp;</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 text-center">
                    <a class="btn btn-lg btn-default" href="https://help.yahoo.com/kb/activate-sign-in-verification-sln5013.html" target="_blank"><i class="fa fa-yahoo fa-lg"></i>Yahoo &nbsp;</a>
                </div>
                <div class="col-md-4 text-center">
                    <a class="btn btn-lg btn-default" href="http://blog.linkedin.com/2013/05/31/protecting-your-linkedin-account-with-two-step-verification/" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i>LinkedIn &nbsp;</a>
                </div>
                <div class="col-md-4 text-center">
                    <a class="btn btn-lg btn-default" href="https://www.facebook.com/notes/facebook-engineering/introducing-login-approvals/10150172618258920" target="_blank"><i class="fa fa-facebook-square fa-lg"></i>Facebook &nbsp;</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <span class="fa fa-unlock-alt huge-fontawesome-icon" data-effect="slide-left"></span>
        </div>
        <div class="col-md-6">
            <h3>Check a Site's HTTPS Configuration</h3>
            <p>If your hospital, medical center, or other provider's site uses <mark>https://</mark> that's a great first step!
                But that doesn't mean they're safe from <a href="https://en.wikipedia.org/wiki/Heartbleed" target="_blank">Heartbleed</a> or <a href="https://en.wikipedia.org/wiki/POODLE" target="_blank">POODLE</a>.</p>
            <p>You can check their <mark>https://</mark> configuration below, by using Qualys SSL Labs &mdash; one of the many scores we include in our security &amp; privacy rankings:</p>
            <form class="form-inline" role="form" action="https://www.ssllabs.com/ssltest/analyze.html" method="get" target="_blank">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">https://</div>
                        <input class="form-control" type="text" name="d" placeholder="www.YourHospital.com">
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="hideResults" value="on">
                        <button class="btn btn-default" type="submit">&nbsp; Check Now<i class="fa fa-search fa-lg"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <h3>Ask Your Healthcare Provider</h3>
            <p>Is your healthcare provider not using <mark>https://</mark> for their sites? That means you have <em>no privacy</em> when searching for your medical concerns! Your employer, internet provider, or neighbor on your WiFi can easily see whatever you're looking for.</p>
            <p>Ask your healthcare provider to protect your privacy by enabling <mark>https://</mark> for all their sites.</p>
            <p>Don't just stop with your doctors &mdash; Is your work e-mail missing two-factor? Ask them why. Is your IT department still using Internet Explorer? Ask why they haven't offered a <a href="https://support.google.com/chrome/a/answer/3019558?hl=en&ref_topic=3062034&rd=1" target="_blank">more secure option</a>.</p>
        </div>
        <br><br><br>
        <div class="col-md-offset-1 col-md-5" data-effect="slide-right">
            <blockquote class="blockquote-reverse"><h2>Why can your Facebook profile<br>be more secure than your<br>medical records?</h2></blockquote>
        </div>
    </div>
</div>
