---
home_active: active
title: Learn to Spot Phishing Emails
meta_description: Phishing is hard to spot - the only fool-proof solution is two-factor security.
---

<div class="container">

    <div class="jumbotron text-center" style="background-image: url('/images/phishing/computer.png'); background-size:100%; background-position: center; background-repeat: no-repeat;">
        <h1 style="font-weight: bold;">Phishing &amp; Email Security</h1>
        <p style="font-weight: bold;">Learn to recognize phishing e-mails and protect yourself online.</p>
        <br>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h1>Phishing (n); \ˈfi-shiŋ\</h1>
            <p class="lead">Phishing is a method used by criminals to obtain private information for the purposes of identity or data theft. </p>
            <p>Every month, medical professionals around the country succumb to “phishing” scams. Unsuspecting individuals receive fraudulent emails linking to copycat websites, which attempt to trick recipients into revealing valuable personal information. This usually includes usernames and passwords that control access to databases of sensitive financial and medical records of patients and employees of a hospital.</p>
        </div>
    </div>

    <hr>


    <div class="row centered">
        <h1 class="centered">Phishing Catastrophes</h1>
        <br>

        <div class="col-lg-4 centered">
            <img class="img img-circle" src="/images/phishing/baylor.png" height="150px" width="150px" alt="">
            <br>
            <h4><b>Doctors Taking the Bait</b></h4>
            <h5>January 2014</h5>
            <p>Baylor Medical Center announced that 1,981 patients had personal and medical information compromised after several medical center physicians responded to phishing scam emails.</p>
        </div>

        <div class="col-lg-4 centered">
            <img class="img img-circle" src="/images/phishing/ucdavis.jpg" height="150px" width="150px" alt="">
            <br>
            <h4><b>Hook, Line, and Sinker</b></h4>
            <h5>December 2013</h5>
            <p> The UC-Davis Health System announced that personal and medical information of ~1,800 patients had been compromised by a phishing email scam that affected three UC-Davis clinicians.</p>
        </div>

        <div class="col-lg-4 centered">
            <img class="img img-circle" src="/images/phishing/slu.jpg" height="150px" width="150px" alt="">
            <br>
            <h4><b>Caught By The Net</b></h4>
            <h5>October 2013</h5>
            <p>Saint Louis University announced that several employees provided personal information in response to a phishing scam, compromising the sensitive information of ~3,000 patients.</p>
        </div>

    </div>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <h3 class="centered">Protect Yourself</h3><br>
            <p>You don't have to take the bait! Keep yourself safe from phishing by following these three steps:</p>
            <ol type="1">
                <li>Learn to recognize phishing. Take a look at the example message to your right &rarr;</li><br>
                <li>Enable two-factor on your accounts, the <em>only</em>&nbsp; bulletproof phishing protection.</li><br>
                <li>Check your healthcare providers' score in our e-mail security scorecard</li><br>
                <li>Ask your IT department if they enabled anti-phishing mail policies.</li><br>
            </ol>
            <hr>

            <h3 class="centered">What should I do with suspicious email?</h3><br>

            <p>Just delete it! If you know the sender, you might give them a call to ask if they really sent the message.
                If you're feeling proactive, you can consider forwarding the message to your IT department.
                If you receive suspicious emails, then it's likely other people at your institution are receiving them too.
               </p>
        </div>
        <div class="col-md-offset-1 col-md-5 centered">

            <h2 class="section-subheading text-muted">Recognizing Phishing</h2><br>

            <div id="carousel-example-captions" class="carousel slide centered" data-ride="carousel" data-interval="false">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-captions" data-slide-to="1"></li>
                    <li data-target="#carousel-example-captions" data-slide-to="2"></li>
                    <li data-target="#carousel-example-captions" data-slide-to="3"></li>
                    <li data-target="#carousel-example-captions" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="/images/phishing/email-3-subject.png" alt="">
                        <div class="carousel-caption" style="padding-bottom: 150px">
                            <p class="lead">Suspicious Subject</p>
                            <p>Phishing messages frequently lie about passwords expiring or missed payments and invoices.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/phishing/email-3-sender.png" alt="">
                        <div class="carousel-caption" style="padding-bottom: 150px">
                            <p class="lead">Fake Sender</p>
                            <p>The sender might sound official, but it's not a real address. Tools like SPF and DMARC can reduce spoofing, but many institutions fail to use them.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/phishing/email-3-content.png" alt="">
                        <div class="carousel-caption">
                            <p class="lead">Wants Personal Information</p>
                            <p>The message is asking for personal information &mdash; like your account details, username, or password.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/phishing/email-3-formatting.png" alt="">
                        <div class="carousel-caption" style="padding-bottom: 250px">
                            <p class="lead">Bad Link</p>
                            <p>Links in messages may be misspelled or point to websites that you aren't familiar with.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="/images/phishing/email-3-grammar-syntax.png" alt="">
                        <div class="carousel-caption" style="padding-bottom: 250px">
                            <p class="lead">Grammar and Syntax</p>
                            <p>Most phishing messages have incorrect grammar and syntax. Be suspicious of messages with typos and strange phrasings.</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-captions" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-captions" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </div>
    </div>

    <hr>

    <div class="row" style="height:450px;">
        <div class="col-md-12" id="slickQuiz">
            <h1 class="quizName"></h1>

            <div class="quizArea">
                <div class="quizHeader"><!-- Main Copy -->
                    <button class="btn startQuiz" href="#">Get Started!</button>
                </div>
                <!-- where the quiz gets built -->
            </div>

            <div class="quizResults">
                <h3 class="quizScore">You Scored: <span></span></h3>

                <h3 class="quizLevel"><strong>Ranking:</strong> <span></span></h3>

                <div class="quizResultsCopy"></div>
            </div>
        </div>
    </div>

</div>